* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}


/* shared styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}
.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover {
    background-color: #469165c3;
}
.h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}



/* main styles */
/* nav section styles */
.navbar-parent {
    padding: 16px 120px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
}
.navbar-container img {
    width: 140px;
    cursor: pointer;
}
.navbar-container .menu {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.navbar-container .menu li {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/* hero section styles */
.hero-parent {
    background-image: linear-gradient(rgba(0, 25, 49, 0.4)), url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 340px;
    margin-bottom: 80px;
}
.hero-container {
    text-align: center;
}
.hero-container .early-access-btn {
    padding: 8px 12px;
    border-radius: 100px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-left: 2px;
    margin-bottom: 16px;
}
.hero-container .early-access-btn:hover {
    background-color: #dfded9;
}
.hero-container h2 {
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}
.hero-container h2 span {
    color: #30B868;
}
.hero-container p {
    font-size: 18px;
    line-height: 10px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.hero-container .vault-btn {
    margin-bottom: 120px;
}
.hero-container .vault-btn:hover {
    background-color: #469165c3;
}
.hero-container .vault-btn1 {
    display: flex;
    gap: 10;
}
.hero-container .vault-btn1 img {
    padding-left: 10px;
}
.hero-container .vault-btn2 i {
    padding-right: 10px;
}
.hero-container .vault-btn2 {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.hero-container .vault-btn2:hover {
    background-color: #FFFFFF;
    color: #000000;
}


/* notes section styles */
.notes-parent {
    text-align: center;
}
.notes-parent h2 {
    margin-bottom: 16px;
}
.notes-parent p {
    margin-bottom: 44px;
}
.notes-card-container {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
}
.notes-card-container .notes-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px lightgray;
    max-width: 322px;
    max-height: 300px;
}
.notes-card-container .notes-card:hover {
    box-shadow: 5px 5px 10px 10px lightgray;
}

.notes-card-container .notes-card .card-icon {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 15px;
    margin-top: 30px;
}
.notes-card-container .notes-card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.notes-card-container .notes-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* brain section styles */
.brain-parent {
    margin-bottom: 80px;
}
.brain-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.brain-container .brain-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.brain-content h4 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
.brain-content p {
    margin-bottom: 20px;
    max-width: 460px;
}
.brain-content ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}
.brain-content ul li {
    display: flex;
}
.brain-content ul li img {
    margin-right: 6px;
}

/* think section styles */
.think-parent {
    text-align: center;
}
.think-container {
    background-color: #F7F6F2;
    padding: 80px 40px;
    border: none;
    border-radius: 12px;
    margin-bottom: 120px;
}
.think-container h2 {
    font-size: 40px;
    margin-bottom: 16px;
}
.think-container p {
    line-height: 24px;
    max-width: 615px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.think-container button {
    box-shadow: 8px 8px 8px 0px lightgray;
    margin-bottom: 16px;
}
.think-container button .think-btn1 {
    display: flex;
    gap: 10px;
}
.think-container ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.think-container ul li:nth-child(1) {
    list-style: none;
}

/* footer section styles */
footer {
    background-color: #001931;
    padding: 30px 120px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 80px;
}
.footer-container h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-container .social-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-container .social-links img {
    width: 25px;
    height: 25px;
    margin-right: 16px;
    cursor: pointer;
}
.footer-parent hr {
    color: lightgray;
    opacity: 20%;
}
.footer-parent .copyright {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}