* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}


/* shared styles */
.container {
    max-width: 1360px;
    margin: 0 auto;
}
.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover {
    background-color: #469165c3;
}



/* main styles */
/* nav section styles */
.navbar-parent {
    padding: 16px 120px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
}
.navbar-container img {
    width: 140px;
    cursor: pointer;
}
.navbar-container .menu {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.navbar-container .menu li {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}